{% extends "base_layout.html" %}

{% block collapse %}

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <!-- <h4 class="text-white">Collapsed content</h4> -->
      <ul>
        <li><a href="/options/">Home</a></li>
        <li><a href="/start_conv/">Converse</a></li>
        <li><a href="/upload/">Upload dataset</a></li>
        <li><a href="/personalize/">Customize</a></li>
        <li><a href="/">Sign out</a></li>
      </ul>
      <!-- <span class="text-muted">Toggleable via the navbar brand.</span> -->
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
{% endblock %}


{% block content %}
  {% block inner %}
  {% endblock %}


{% endblock %}
